

body {
	background-image: url(https://torange.biz/photofx/208/10/image-christmas-background-hard-light-fragment-208854.jpg);
	background-size: cover;
	font-family: Bahnschrift, 'Poiret One', cursive;
}

h1 {
	text-align: center;
	border: solid;
}

h3 {
	color:#1E1ACA;
	text-align: center;
}

h4 {
	color:#524FE2;
	text-align: center;
}

div {
	float:center;
	font-size: 25px;
	text-decoration: none;
}


.rr {
	color:#690287;
	text-decoration: underline;
}